<div class="row margenLaterales15 alert  alert-info">
		<img class="img-fluid img-thumbnail fotoPersonalComentario" src="assets/img/foto.jpg" />


  <form (ngSubmit)="comentar(forma)" #forma="ngForm" class="col-md-10 nopadding" novalidate="">
    <div class="form-group textAreaComentario">
      <textarea
        class="form-control input-login"
        type="text"
        placeholder="¿Qué estás pensando?"
        name="pass"
        [(ngModel)] = "publi.contenido"
        maxlength="140"
        required
        #pass="ngModel"
        rows="3"
      ></textarea>
    </div>
    <div class=" clearfix col-md-12">
      <button class="btn btn-info float-right" type="submit">
        <i class="fa fa-comment" aria-hidden="true"></i>
        Publicar
      </button>
      <div class="btn btn-info float-right botonFoto">
        <label>
          <i class="fa fa-camera" aria-hidden="true"></i> <input type="file" hidden >
        </label>
      </div>
    </div>
  </form>




</div>

<!--inicio de las publicaciones-->
<div class="puntero" *ngFor="let publicacion of publicaciones">
	<div class="card div-card ">
		<!--
		<div  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">-->
		<div (click)="verPublicacion(publicacion)">
			  <div class="card-block">
			    <h4 class="card-title">{{publicacion.user}}</h4>
			    <p class="card-text">{{publicacion.contenido}}</p>
			    <p class="card-text"><small class="text-muted">{{publicacion.fecha}}</small></p>
			  </div>

			  <img [src]="publicacion.foto"  *ngIf="publicacion.foto != ''" class="img-item"/>
		 </div>
		<div class="row" >
			<div class="col-md-3 text-center">
				<button class="btn-block  btn btn-link btn-publicacion-like">
						<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
				</button>

			</div>
			<div class="col-md-3">
				<button class="btn-block  btn btn-link btn-publicacion-share">
					<i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
				</button>

			</div>
			<div class="col-md-3">
				<button class="btn-block btn btn-link">
					<i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{publiSel?.user}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				{{publiSel?.contenido}}
				<img [src]="publiSel?.foto"  *ngIf="publiSel?.foto != ''" class="img-item"/>

				<p class="card-text"><small class="text-muted">{{publiSel?.fecha}}</small></p>
				<div class="row" >
					<div class="col-md-3 text-center">
						<button class="btn-block  btn btn-link btn-publicacion-like">
								<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
						</button>

					</div>
					<div class="col-md-3">
						<button class="btn-block  btn btn-link btn-publicacion-share">
							<i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
						</button>

					</div>
					<div class="col-md-3">
						<button class="btn-block btn btn-link">
							<i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
						</button>
					</div>
				</div>
      </div>
			<div>
				<div class="row margenLaterales15 alert  alert-info">
					  <img class="img-fluid img-thumbnail fotoPersonalComentario" src="assets/img/foto.jpg" />
						<div class="form-group textAreaComentario">
							<textarea class="form-control" rows="3" maxlength="140"></textarea>
						</div>
						<div class=" clearfix col-md-12">
						  <button class="btn btn-info float-right">
								<i class="fa fa-comment" aria-hidden="true"></i>
								Comentar
							</button>
						</div>
				</div>
			</div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
