<div class="puntero" *ngFor="let publicacion of publicaciones">
	<div class="card div-card ">
		<!--
		<div  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">-->
		<div (click)="verPublicacion(publicacion)">
			  <div class="card-block">
			    <h4 class="card-title">{{publicacion.user}}</h4>
			    <p class="card-text">{{publicacion.contenido}}</p>
			    <p class="card-text"><small class="text-muted">{{publicacion.fecha}}</small></p>
			  </div>

			  <img [src]="publicacion.foto"  *ngIf="publicacion.foto != ''" class="img-item"/>
		 </div>
		<div class="row" >
			<div class="col-md-3 text-center">
				<button class="btn-block  btn btn-link btn-publicacion-like">
						<i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
				</button>

			</div>
			<div class="col-md-3">
				<button class="btn-block  btn btn-link btn-publicacion-share">
					<i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i>
				</button>

			</div>
			<div class="col-md-3">
				<button class="btn-block btn btn-link">
					<i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{publiSel?.user}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				{{publiSel?.contenido}}
				<img [src]="publiSel?.foto"  *ngIf="publiSel?.foto != ''" class="img-item"/>

				<p class="card-text"><small class="text-muted">{{publiSel?.fecha}}</small></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
