/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eceeef;
}

.puntero{
  cursor: pointer;
}

.img-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .img-item {
    height: 280px;
  }
}
.btn-publicacion-share:hover{
	color:  green;
}
.btn-publicacion-like:hover{
	color:  red;
	font-weight: bold;
}
.ipublicacion{
	font-size: 5em;
}
.div-card:hover{
	background-color: #F4F2F8;
}

.white{
  background-color: white;
}
.busqueda{
  background-color: #eceeef;
}
.sombra-abajo{
  box-shadow: 0px 0px 5px #999;
}
.portada-mini{
  width: 100%;
  height: 140px;
}
.margen-abajo{
  margin-bottom: 10px;
}
.fotoPerfilPortada{
  height: 200px;
}
.barraSeguidoresPortada{
  background-color: white;
  padding-left: 20%;
}
.barraSeguidoresPortada ul{
  font-size: 12px;
  list-style: none;
   overflow: hidden;
}
.contenedorFotoPortada{
  position: absolute;
  top: 260px;
  left: 5%;
}
.barraSeguidoresPortada li {
    float: left;
}

.barraSeguidoresPortada li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;

}

.barraSeguidoresPortada li a span {
    display: block;
}
.barraSeguidoresPortada li:hover{
  border-bottom: #0084B4 3px solid;
  color: #0084B4;
}



.ProfileStatCard ul{
   font-size: 12px;
   list-style: none;
    overflow: hidden;
}


.ProfileStatCard li {
    float: left;
}

.ProfileStatCard li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
.ProfileStatCard li a span {
    display: block;
}

.ProfileStatCard li a:hover {
  color: blue;
}

.sinPadding{
  padding: 0px;
}
.gray{
  color: gray;
}

.contadorProfileCard{
  font-size: 19px;
}
.fotominiCard{
  height: 30%;
  position: absolute;
  top:  110px;
  margin-left: 12px;
}
.divFotopeque{
  display: inline-block;
}
.infoCard{
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  left: 35%;
}
.barraNavegacion{
   z-index: 100;
}
.container-fluid{
  margin-top: 75px;
}
.fotoPortada{
  height: 360px;
  width: 100%;
}
.marginPortada{
  margin-top: 55px;
}
.noMarginTop{
  margin-top: 20px;
}

/**/
/* Full-width input fields
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
*/
/* Set a style for all buttons */
/*
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
*/
/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
