/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eceeef;
}

.puntero{
  cursor: pointer;
}

.img-item{
  width: 100%;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .img-item {
    height: 280px;
  }
}
.btn-publicacion-share:hover{
	color:  green;
}
.btn-publicacion-like:hover{
	color:  red;
	font-weight: bold;
}
.ipublicacion{
	font-size: 5em;
}
.div-card:hover{
	background-color: #F4F2F8;
}

.white{
  background-color: white;
}
.busqueda{
  background-color: #eceeef;
}
.sombra-abajo{
  box-shadow: 0px 0px 5px #999;
}
.portada-mini{
  width: 100%;
  height: 140px;
}
.margen-abajo{
  margin-bottom: 10px;
}
.fotoPerfilPortada{
  height: 200px;
}
.barraSeguidoresPortada{
  background-color: white;
  padding-left: 20%;
}
.barraSeguidoresPortada ul{
  font-size: 12px;
  list-style: none;
   overflow: hidden;
}
.contenedorFotoPortada{
  position: absolute;
  top: 260px;
  left: 5%;
}
.barraSeguidoresPortada li {
    float: left;
}

.barraSeguidoresPortada li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;

}

.barraSeguidoresPortada li a span {
    display: block;
}
.barraSeguidoresPortada li:hover{
  border-bottom: #0084B4 3px solid;
  color: #0084B4;
}



.ProfileStatCard ul{
   font-size: 12px;
   list-style: none;
    overflow: hidden;
}


.ProfileStatCard li {
    float: left;
}

.ProfileStatCard li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
.ProfileStatCard li a span {
    display: block;
}

.ProfileStatCard li a:hover {
  color: blue;
}

.sinPadding{
  padding: 0px;
}
.gray{
  color: gray;
}

.contadorProfileCard{
  font-size: 19px;
}
.fotominiCard{
  height: 30%;
  position: absolute;
  top:  110px;
  margin-left: 12px;
}
.divFotopeque{
  display: inline-block;
}
.infoCard{
  display: inline-block;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  left: 35%;
}
.barraNavegacion{
   z-index: 100;
}
.container-fluid, .container{
  margin-top: 75px;
}
.fotoPortada{
  height: 360px;
  width: 100%;
}
.marginPortada{
  margin-top: 55px;
}
.noMarginTop{
  margin-top: 20px;
}


/* Full-width input fields*/
.input-login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
/*
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
*/


.cancelbtn {

    border-radius: 10px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.btn-pers{
  border-radius: 4px;
  outline: none;

  border: 2px solid #da5a5a;
    text-align: center;
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;


}
.btn-pers:hover{
   border:none;
   border: 2px solid #da5a5a;
}
.modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content-login {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}








.ficha{
  display: inline-block;
  float: left;

}
.infoSeguidores{
  padding-left: 15px;
  padding-right: 15px;
}
.infoSeguidores{
  color: gray;
  font-size: 15px;
}
.btnAgregar{
  height: 30px;
  font-size: 12px;
}
.btnSeguir{
  background-color: #339dc3;
  border: none;
  height: 30px;
  font-size: 12px;
}
.divBtnSeguir{
  display: block;
  float: right;
  margin-right: 15px;
}
.portada-seguidores{
  height: 15%;

}
.foto-seguidores{
  top: 45px;
}
.negro{
  color: black;
}
.fotoPersonalComentario{
  width: 5em;
  height: 5em;
}
.margenLaterales15{
  margin-left: 15px;
  margin-right: 15px;
}
.textAreaComentario{
  margin-left: 10px;
}
.nopadding{
  padding:0px;
}
.botonComentar{
  float: right;
}
.card-singup
{
 background-color: rgba(255,255,255,0.8);
}
/**/
html {
    position: relative;
    min-height: 100%;
}
.carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .carousel-item.next,
    .carousel-fade .carousel-inner > .carousel-item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.prev,
    .carousel-fade .carousel-inner > .carousel-item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .carousel-item.next.left,
    .carousel-fade .carousel-inner > .carousel-item.prev.right,
    .carousel-fade .carousel-inner > .carousel-item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel-item:nth-child(1) {
    background: url(https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-item:nth-child(2) {
    background: url(https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-item:nth-child(3) {
    background: url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd) no-repeat center  fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .carousel-item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
.botonFoto{
  padding-bottom: 0px;
  margin-right: 10px;
}
