<div class="divfotoPortada">
  <img src="assets/img/portada.jpeg" class="fotoPortada" />
  <div class="contenedorFotoPortada">
    <a href="#">
        <img class="img-fluid img-thumbnail fotoPerfilPortada " src="assets/img/foto.jpg" />
    </a>
  </div>
</div>

  <div class="barraSeguidoresPortada sombra-abajo">
      <ul class="">
        <li class="">
          <a href="#">
            <span class="gray">TWEETS</span>
            <span class="contadorProfileCard">69</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span class="gray">SUGUIENDO</span>
            <span class="contadorProfileCard">69</span>
          </a>
        </li>
        <li class="">
          <a href="#">
            <span class="gray">SEGUIDORES</span>
            <span class="contadorProfileCard">69</span>
          </a>
        </li>
      </ul>
  </div>
