<form  (ngSubmit) = "guardar(form)"  #form="ngForm">
  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
      <input 
              class="form-control" 
              type="date" 
              value="2011-08-19" 
              #fechaNac = "ngModel"
              name = "fechaNac"
              [(ngModel)] = "usuario.fechaNac"
              required>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Example textarea</label>
    <textarea 
              class="form-control" 
              id="exampleTextarea" 
              rows="3"
              #descripcion = "ngModel"
              name = "descripcion"
              [(ngModel)] = "usuario.descripcion"
              required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input 
          type="file" 
          class="form-control-file" 
          aria-describedby="fileHelp"
        
          required
          (change) ="fileChangeEvent($event)" >
  </div>
    <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input 
          type="file" 
          class="form-control-file" 
          aria-describedby="fileHelp"  
          #portada = "ngModel"
          name = "portada"
          [(ngModel)] = "usuario.portada"
          required>>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>